@import 'variables.scss';
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: $defaultbgc;
	box-sizing: border-box;
	font-family: $defaultfont;
	font-size: $defaultfs;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	scrollbar-width: none;
	width: 100%;
	word-spacing: 1px;
	&::-webkit-scrollbar {
		display: none;
	}
}
body {
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: $defaultbgc;
	box-sizing: border-box;
	font-family: $defaultfont;
	font-size: $defaultfs;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	scrollbar-width: none;
	width: 100%;
	word-spacing: 1px;
	&::-webkit-scrollbar {
		display: none;
	}
}
