@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$annotationbgc: rgba(5, 5, 5, 1);
$annotationfc: rgba(27, 154, 170, 1);
$annotationsize: 3rem;
$defaultbgc: rgba(27, 154, 170, 1);
$defaultfont: 'Nunito', sans-serif;
$defaultfs: 10px;
$defaultgap: 0.1rem;
$herosize: 24rem;
$navigationbgc: rgba(5, 5, 5, 1);
$navigationfc: rgba(27, 154, 170, 1);
$navigationsize: 3rem;
