@import 'variables.scss';
:host {
	background-color: $defaultbgc;
	display: block;
	gap: $defaultgap;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	header {
		height: $navigationsize;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	footer {
		height: $annotationsize;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
