<header #header>
	<nav>
		<button>
			<svg>
				<use xlink:href="../../assets/icons.svg#menu" />
			</svg>
		</button>
		<h1>
			{{ this.title.getTitle() }}
		</h1>
		<button>
			<svg>
				<use xlink:href="../../assets/icons.svg#cart" />
			</svg>
		</button>
	</nav>
</header>
<main>
	<section>
		<img #hero />
	</section>
	<section></section>
	<section #showcase>
		<div
			*ngFor="let item of [].constructor(10); let i = index"
		>
			<span>
				<img />
			</span>
			<span>
				<span>
					<h1>Nootropic Product</h1>
					<h2>$50</h2>
				</span>
				<button>Ok</button>
			</span>
		</div>
	</section>
</main>
<footer>
	<h1>Annotation</h1>
</footer>
