<header #header>
	<nav>
		<button>
			<svg>
				<use xlink:href="../../assets/icons.svg#menu" />
			</svg>
		</button>
		<h1>
			{{ this.title.getTitle() }}
		</h1>
		<button>
			<svg>
				<use xlink:href="../../assets/icons.svg#cart" />
			</svg>
		</button>
	</nav>
</header>
<main>
	<section>
		<img #hero />
	</section>
	<section></section>
	<section #showcase>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</section>
</main>
<footer>
	<h1>Annotation</h1>
</footer>
